extends allVariations

append scripts
    script(src="/scripts/functions/registerMarketplaceStockUpdateListener.js" type="module" defer)
    script(src="/scripts/pages/allVariationsStocksPage.js" type="module" defer)

block beforeTables
    section
        div(class="table-filters")
            a(class="btn table-filter--btn table-filter-name--isActual table-filter-value--notActual") Не актуальные
            a(class="btn table-filter--btn table-filter-name--isActual table-filter-value--all") Все
        div(class="table-filters")
            a(class="btn table-filter--btn table-filter-name--stock_status table-filter-value--outofstock") Нет в наличии

append tableCells
    case headerData.type
        when 'identifier'
            td( class=`col--${headerData.type}`)
            a.a--no-decorations(href=`/stocks/db/product/${product.marketProductInnerId}`)
                | #{product[headerData.field]}
        when 'fbs'
            td(
                class=`col--${headerData.type} ${product[headerData.field] ? product[headerData.field].stock === 0 ? 'out-of-stock' : '' : ''}`
                updateBy=`${product[headerData.field] ? product[headerData.field].updateBy : ''}`
                marketType=`${product[headerData.field] ? product[headerData.field].marketType : ''}`
                data-fbs-reserve=`${product[headerData.field] ? product[headerData.field].reserve : ''}`
                )
                | #{product[headerData.field] ? product[headerData.field].stock : ''}
        when 'fbm'
            td( class=`col--${headerData.type} ${product[headerData.field] === 0 ? 'out-of-stock' : ''}`)
                | #{product[headerData.field]}