extends layout

append scripts
    script(src="/scripts/dbMarketProduct.js" type="module" defer)

block content
    h1= title
        if variation
            a.btn.navigate-btn.navigate-btn--back(href=`/stocks/db/product/${variation.product._id}`)
    form.market-product--form
        case marketType
            when "yandex"
                label SKU:#{" "}
                    input(required name="sku" value=`${marketProduct ? marketProduct.sku ? marketProduct.sku : '' : ''}`)
            when "ozon"
                label SKU:#{" "}
                    input(required name="sku" value=`${marketProduct ? marketProduct.sku ? marketProduct.sku : '' : ''}`)
            when "wb"
                label SKU:#{" "}
                    input(required name="sku" value=`${marketProduct ? marketProduct.sku ? marketProduct.sku : '' : ''}`)
                label Barcode:#{" "}
                    input(required name="barcode" value=`${marketProduct ? marketProduct.barcode ? marketProduct.barcode : '' : ''}`)
            when "woo"
                label ID:#{" "}
                    input(required name="id" value=`${marketProduct ? marketProduct.id ? marketProduct.id : '' : ''}`)
                label.select--arrow Type:#{" "}
                    select.select--style( name="type")
                        option(value="") Выберете тип
                          each type in ['simple', 'variation']
                              option(value=type selected=(marketProduct ? type === marketProduct.type : false))= type
                if !marketProduct || marketProduct.type === 'variation'
                    label Parent:#{" "}
                        input(required name="parentVariable" value=`${marketProduct ? marketProduct.parentVariable ? marketProduct.parentVariable.id : '' : ''}`)

        label Article:#{" "}
            input(name="article" value=`${marketProduct ? marketProduct.article ? marketProduct.article : '' : ''}`)
        fieldset
            legend Актуальность
            label.inline Актуальный#{" "}
                input(required name="isActual" type="radio" value="true" checked=(marketProduct ? marketProduct.isActual : false))
            label.inline #{" "}Неактуальный#{" "}
                input(required name="isActual" type="radio" value="false" checked=(marketProduct ? !marketProduct.isActual : false))
        label FBS:#{" "}
            input(name="stockFBS" type="number" value=(fbsStocks ? fbsStocks : 0) disabled=(marketProduct && fbsStocks === undefined))
        if marketProduct
            case marketType
                when "wb"
                    label FBW:#{" "}
                        input(name="stock" type="number" value=(marketProduct ? marketProduct.stock : 0) disabled)

                when "ozon"
                    label FBO:#{" "}
                        input(name="stock" type="number" value=(marketProduct ? marketProduct.stock : 0) disabled)

        fieldset
            legend Связь с вариацией (необязательно)
            label.select--arrow Продукт:#{" "}
                select.select--style( name="product_id")
                    option(value="") Выберете продукт
                      each product in allProducts
                          option(value=product._id selected=(variation ? product._id.toString() === variation.product._id.toString() : false))= product.name
            label.select--arrow Объем:#{" "}
                select.select--style( name="variation_volume")
                    option(value="") Выберете объем
                      each volume in ['3 мл', '6 мл', '10 мл', 'Набор', 'Стикеры']
                          option(value=volume selected=(variation ? volume === variation.volume : false))= volume

        input(required name="marketType" value=marketType hidden)
        if marketProduct
            input(required name="_id" value=marketProduct._id hidden)

        input.btn.submit-button.market-product--submit-button(type="button" value=(marketProduct ? "Обновить" : "Добавить") style="float: right;")