extends layout

append scripts
    script(src="/scripts/pages/dbMarketProduct.js" type="module" defer)

block section
    h1= title
        if marketProduct ? marketProduct.variation : false
            a.btn.btn--round.btn--round--left.navigate-btn--back(href=`/stocks/db/product/${marketProduct.variation.product._id}`)
        if marketProduct
          - marketplaceConsoleLinkData = null;
          - marketplaceLinkData = null;
          case marketType
              when "wb"
                - marketplaceConsoleLinkData = {href: `https://seller.wildberries.ru/new-goods/new-product-card?vendorCode=${marketProduct.article}`, title: "Product on seller.wildberries.ru"}
                - marketplaceLinkData = { href: `https://www.wildberries.ru/catalog/${marketProduct.sku}/detail.aspx`, title: "Product on www.wildberries.ru"}
              when "ozon"
                - marketplaceConsoleLinkData = {href: `https://seller.ozon.ru/app/products/${marketProduct.sku}/edit/preview`, title: "Product on seller.ozon.ru"}
                if marketProduct.apiInfo && marketProduct.apiInfo.sources[0]
                  - marketplaceLinkData = {href: `https://www.ozon.ru/product/${marketProduct.apiInfo.sources[0].sku}`, title: "Product on www.ozon.ru"}
              when "yandex"
                - marketplaceConsoleLinkData = {href: `https://partner.market.yandex.ru/supplier/21938028/assortment/offer-card?offerId=${marketProduct.sku}`, title: "Product on partner.market.yandex.ru"}
                if marketProduct.apiInfo
                  - marketplaceLinkData = {href: `https://market.yandex.ru/search?businessId=959757&text=${encodeURI(marketProduct.apiInfo.name)}`, title: "Search product on market.yandex.ru"}
              when "woo"
                - marketplaceConsoleLinkData = {href: `https://queridosglitters.ru/wp-admin/post.php?post=${marketProduct.type === 'variation' ? marketProduct.parentVariable.id : marketProduct.id}&action=edit`, title: "Product on queridosglitters.ru/wp-admin/"}
                  if marketProduct.apiInfo
                    - marketplaceLinkData = {href: (marketProduct.apiInfo["permalink"]), title: 'Product on queridosglitters.ru'}
        if marketplaceConsoleLinkData
            a.btn.btn--round.btn--round--second.marketplace-console-link(target="_blank" href=marketplaceConsoleLinkData.href title=marketplaceConsoleLinkData.title)
        if marketplaceLinkData
            a.btn.btn--round.btn--round--third.marketplace-link(target="_blank" href=marketplaceLinkData.href title=marketplaceLinkData.title)
    form.market-product--form
        include marketProductForm

        fieldset
            legend Связь с вариацией (необязательно)
            label.select--arrow Продукт:#{" "}
                select.select--style( name="product_id")
                    option(value="") Выберете продукт
                      each product in allProducts
                          option(value=product._id selected=(marketProduct ? marketProduct.variation ? product._id.toString() === marketProduct.variation.product._id.toString() : false : false))= product.name
            label.select--arrow Объем:#{" "}
                select.select--style( name="variation_volume")
                    option(value="") Выберете объем
                      each volume in ['3 мл', '6 мл', '10 мл', 'Набор', 'Стикеры']
                          option(value=volume selected=(marketProduct ? marketProduct.variation ? volume === marketProduct.variation.volume : false : false))= volume
        if marketProduct
            input.btn.delete-button.delete-button--market-product.inline(type="button")

        input.btn.submit-button.market-product--submit-button(type="button" value=(marketProduct ? "Обновить" : "Добавить") style="float: right;")