extends layout

block section
    h1.snap-scroll-stop--start= title
    each market in allOrders
              if market.today.status || market.overdue.status
                  h2= market.name
                  each table in ['today', 'overdue']
                    if market[table].status
                        if table === 'overdue'
                            h3 Просроченные
                        div.stocks-table--wrapper.snap-scroll-stop--center
                            div.stocks-table--inner
                                table(class="orders-table")
                                    thead
                                        tr
                                            th.col--number Номер
                                            th.col--status Статус
                                            th.col--products Товары
                                    tbody
                                      each order in market[table].orders
                                          tr
                                            td.col--number= order.order_number
                                                br
                                                p.order-status--mobile= order.order_status
                                            td.col--status= order.order_status
                                            td.col--products
                                              each product, index  in order.products
                                                | #{product.name} – #{product.quantity} шт.
                                                i.product-description #{product.article ? "(" + product.article + ")" : ""}
                                                if index + 1 !== order.products.length
                                                  hr