extends layout

append scripts
    script(src="/scripts/pages/dbProduct.js" type="module" defer)

block content
  section
    h1= title
    form.product--form
        if product
            input(required name="_id" value=product._id hidden)

        label Наименование:#{" "}
            input(name="name" value=`${product ? product.name : ''}`)
        fieldset
            legend Актуальность
            label.inline Актуальный#{" "}
                input(required name="isActual" type="radio" value="true" checked=(product ? product.isActual : false))
            label.inline #{" "}Неактуальный#{" "}
                input(required name="isActual" type="radio" value="false" checked=(product ? !product.isActual : false))

        input.btn.submit-button.submit-button--product.inline(type="button" value=(product ? "Обновить" : "Добавить"))

        if product
            input.btn.delete-button.delete-button--product.inline(type="button")
    if product
        form.add-variation--form
            a.btn.add-variation--btn
            label.select--arrow.add-variation-volume--block.disabled
                select.select--style( name="variation_volume" required)
                    option(value="") Выберете
                      each volume in ['3 мл', '6 мл', '10 мл', 'Набор', 'Стикеры']
                          option(value=volume)= volume

  section.section--wide
    if product
        input(required name="product_id" value=product._id hidden)
        div.product-variation--container
          each variation in variations
            div.product-variation--cell
                h2= variation.volume
                input(required name="variation_id" value=variation._id hidden)

                input.btn.delete-button.delete-button--variation.inline(type="button")

                hr(style="margin-top: 2rem")

                div.variation-market-products--block
                  each marketType in ['yandex', 'wb', 'woo', 'ozon']
                      - marketProducts = variation[`${marketType}Products`]
                      if (marketProducts && marketProducts.length > 0)
                        each marketProduct in marketProducts
                          div.market-product--form
                              h3.align--center= marketType[0].toUpperCase() + marketType.slice(1).toLowerCase()

                              a.btn.navigate-btn(href=`/stocks/${marketType}/${marketProduct._id}`)

                              form
                                  - isMarketProductInstanceEditMode = false
                                  include marketProductForm
                                  input.btn.submit-button(type="button" value="Обновить" )