extends layout

append scripts
    script(src="/scripts/pages/dbProduct.js" type="module" defer)

block content
  section
    h1= title
    form.product--form
        if product
            input(required name="_id" value=product._id hidden)

        label Наименование:#{" "}
            input(name="name" value=`${product ? product.name : ''}`)
        fieldset
            legend Актуальность
            label.inline Актуальный#{" "}
                input(required name="isActual" type="radio" value="true" checked=(product ? product.isActual : false))
            label.inline #{" "}Неактуальный#{" "}
                input(required name="isActual" type="radio" value="false" checked=(product ? !product.isActual : false))

        input.btn.submit-button.submit-button--product.inline(type="button" value=(product ? "Обновить" : "Добавить"))

        if product
            input.btn.delete-button.delete-button--product.inline(type="button")
    if product
        form.add-variation--form
            a.btn.add-variation--btn
            label.select--arrow.add-variation-volume--block.disabled
                select.select--style( name="variation_volume" required)
                    option(value="") Выберете
                      each volume in ['3 мл', '6 мл', '10 мл', 'Набор', 'Стикеры']
                          option(value=volume)= volume

  section.section--wide
    if product
        input(required name="product_id" value=product._id hidden)
        div.product-variation--container
          each variation in variations
            div.product-variation--cell
                h2= variation.volume
                input(required name="variation_volume" value=variation.volume hidden)
                input(required name="variation_id" value=variation._id hidden)

                input.btn.delete-button.delete-button--variation.inline(type="button")

                hr(style="margin-top: 2rem")

                div.variation-market-products--block
                  each marketType in ['yandex', 'wb', 'woo', 'ozon']
                    - const marketProducts = variation[`${marketType}Products`]
                      if (marketProducts && marketProducts.length > 0)
                        each marketProduct in marketProducts
                          div.market-product--form
                              h3.align--center= marketType[0].toUpperCase() + marketType.slice(1).toLowerCase()

                              a.btn.navigate-btn(href=`/stocks/${marketType}/${marketProduct._id}`)

                              form
                                  input(required name="marketType" value=marketType hidden)
                                  input(required name="_id" value=marketProduct._id hidden)
                                  case marketType
                                      when 'wb'
                                          label SKU:#{" "}
                                              input(name="sku" value=marketProduct.sku disabled)
                                              input(name="sku" value=marketProduct.sku hidden)
                                          label Barcode:#{" "}
                                              input(name="barcode" value=marketProduct.barcode disabled)
                                              input(name="barcode" value=marketProduct.barcode hidden)
                                      when 'yandex'
                                      when 'ozon'
                                          label SKU:#{" "}
                                              input(name="sku" value=marketProduct.sku disabled)
                                              input(name="sku" value=marketProduct.sku hidden)
                                      when 'woo'
                                          label ID:#{" "}
                                              input(required name="id" value=`${marketProduct.id}` disabled)
                                              input(required name="id" value=`${marketProduct.id}` hidden)
                                          label Type:#{" "}
                                              input(name="type" value=marketProduct.type disabled)
                                              input(name="type" value=marketProduct.type hidden)
                                          if marketProduct.type === 'variation'
                                              label Parent:#{" "}
                                                  input(required name="parentVariable" value=`${marketProduct.parentVariable.id}` disabled)
                                                  input(required name="parentVariable" value=`${marketProduct.parentVariable.id}` hidden)
                                  label Article:#{" "}
                                      input(name="article" value=marketProduct.article disabled)
                                      input(name="article" value=marketProduct.article hidden)
                                  fieldset
                                      legend Актуальный?
                                      label.inline Да#{" "}
                                          input(required name="isActual" type="radio" value="true" checked=marketProduct.isActual)
                                      label.inline #{" "}Нет#{" "}
                                          input(required name="isActual" type="radio" value="false" checked=!marketProduct.isActual)
                                  label.label--first-half FBS:#{" "}
                                      input(name="stockFBS" type="number" min=(marketProduct.fbsReserve ? marketProduct.fbsReserve : 0) value=(marketProduct.fbsStock) placeholder="FBS + Reserve")
                                  label.label--last-half Резерв:#{" "}
                                      input(required name="reserved" type="" value=marketProduct.fbsReserve disabled)
                                  case marketType
                                      when 'wb'
                                      when 'ozon'
                                          label FBM:#{" "}
                                              input(required name="stock" type="number" value=marketProduct.fbmStock disabled)
                                  input.btn.submit-button(type="button" value="Обновить" )