extends layout

append scripts
    script(src="/scripts/pages/dbProduct.js" type="module" defer)

block content
    h1= title
    form.product--form
        if product
            input(required name="_id" value=product._id hidden)

        label Наименование:#{" "}
            input(name="name" value=`${product ? product.name : ''}`)
        fieldset
            legend Актуальность
            label.inline Актуальный#{" "}
                input(required name="isActual" type="radio" value="true" checked=(product ? product.isActual : false))
            label.inline #{" "}Неактуальный#{" "}
                input(required name="isActual" type="radio" value="false" checked=(product ? !product.isActual : false))

        input.btn.submit-button.submit-button--product.inline(type="button" value=(product ? "Обновить" : "Добавить"))

        if product
            input.btn.delete-button.delete-button--product.inline(type="button")
    if product
        form.add-variation--form
            a.btn.add-variation--btn
            label.select--arrow.add-variation-volume--block(disabled)
                select.select--style( name="variation_volume" required)
                    option(value="") Выберете
                      each volume in ['3 мл', '6 мл', '10 мл', 'Набор', 'Стикеры']
                          option(value=volume)= volume

    if product
        input(required name="product_id" value=product._id hidden)
        each variation in variations
            div.product-variation--block
                h2= variation.volume
                input(required name="variation_volume" value=variation.volume hidden)
                input(required name="variation_id" value=variation._id hidden)

                input.btn.delete-button.delete-button--variation.inline(type="button")

                hr(style="margin-top: 2rem")

                div.variation-market-products--block
                  each marketType in ['yandex', 'wb', 'woo', 'ozon']
                    - const marketProduct = variation[`${marketType}Product`]
                        if (marketProduct && marketProduct.length > 0)
                          each marketProductCard in marketProduct
                              div.market-product--form
                                  h2= marketType[0].toUpperCase() + marketType.slice(1).toLowerCase()

                                  a.btn.navigate-btn(href=`/stocks/${marketType}/${marketProductCard._id}`)

                                  form
                                      input(required name="marketType" value=marketType hidden)
                                      input(required name="_id" value=marketProductCard._id hidden)
                                      case marketType
                                          when 'wb'
                                              label SKU:#{" "}
                                                  input(name="sku" value=marketProductCard.sku disabled)
                                                  input(name="sku" value=marketProductCard.sku hidden)
                                              label Barcode:#{" "}
                                                  input(name="barcode" value=marketProductCard.barcode disabled)
                                                  input(name="barcode" value=marketProductCard.barcode hidden)
                                          when 'yandex'
                                          when 'ozon'
                                              label SKU:#{" "}
                                                  input(name="sku" value=marketProductCard.sku disabled)
                                                  input(name="sku" value=marketProductCard.sku hidden)
                                          when 'woo'
                                              label ID:#{" "}
                                                  input(required name="id" value=`${marketProductCard.id}` disabled)
                                                  input(required name="id" value=`${marketProductCard.id}` hidden)
                                              label Type:#{" "}
                                                  input(name="type" value=marketProductCard.type disabled)
                                                  input(name="type" value=marketProductCard.type hidden)
                                              if marketProductCard.type === 'variation'
                                                  label Parent:#{" "}
                                                      input(required name="parentVariable" value=`${marketProductCard.parentVariable.id}` disabled)
                                                      input(required name="parentVariable" value=`${marketProductCard.parentVariable.id}` hidden)
                                      label Article:#{" "}
                                          input(name="article" value=marketProductCard.article disabled)
                                          input(name="article" value=marketProductCard.article hidden)
                                      fieldset.inline
                                          legend Актуальность
                                          label.inline Актуальный#{" "}
                                              input(required name="isActual" type="radio" value="true" checked=marketProductCard.isActual)
                                          label.inline #{" "}Неактуальный#{" "}
                                              input(required name="isActual" type="radio" value="false" checked=!marketProductCard.isActual)
                                      label FBS:#{" "}
                                        - let marketProductCardStock;
                                        - let marketProductCardIdentifier;
                                        - const stockType = `fbs${marketType[0].toUpperCase() + marketType.slice(1).toLowerCase()}Stocks`
                                          case marketType
                                            when 'yandex'
                                            when 'wb'
                                            when 'ozon'
                                              - marketProductCardIdentifier = 'sku'
                                            when 'woo'
                                              - marketProductCardIdentifier = 'id'
                                          if !variation.stocks[stockType].error
                                            - marketProductCardStock = variation.stocks[stockType].find(stock => stock.identifier === marketProductCard[marketProductCardIdentifier])
                                            input(name="stockFBS" type="number" min=0 value=(marketProductCardStock ? marketProductCardStock.stock : '') disabled=(marketProductCardStock === undefined))
                                          else
                                            input(name="stockFBS" type="number" min=0 placeholder="Ошибка получения остатка")
                                      case marketType
                                          when 'wb'
                                          when 'ozon'
                                              label FBM:#{" "}
                                                  input(required name="stock" type="number" value=marketProductCard.stock disabled)
                                      input.btn.submit-button(type="button" value="Обновить" )