extends layout

append scripts
    script(src="/scripts/dbProduct.js" type="module" defer)

block content
    h1= title
    form.product--form
        if product
            input(required name="_id" value=product._id hidden)

        label Наименование:#{" "}
            input(name="name" value=`${product ? product.name : ''}`)
        fieldset
            legend Актуальность
            label.inline Актуальный#{" "}
                input(required name="isActual" type="radio" value="true" checked=(product ? product.isActual : false))
            label.inline #{" "}Неактуальный#{" "}
                input(required name="isActual" type="radio" value="false" checked=(product ? !product.isActual : false))

        input.btn.submit-button.submit-button--product.inline(type="button" value=(product ? "Обновить" : "Добавить"))

        if product
            input.btn.delete-button.delete-button--product.inline(type="button")
    if product
        form.add-variation--form
            a.btn.add-variation--btn
            select.add-variation--volume-select( name="variation_volume" disabled)
                option(value="") Выберете
                  each volume in ['3 мл', '6 мл', '10 мл', 'Набор', 'Стикеры']
                      option(value=volume)= volume

    if product
        input(required name="product_id" value=product._id hidden)
        each variation in variations
            div.product-variation--block
                h2= variation.volume
                input(required name="variation_volume" value=variation.volume hidden)
                input(required name="variation_id" value=variation._id hidden)

                input.btn.delete-button.delete-button--variation.inline(type="button")

                hr(style="margin-top: 2rem")

                div.variation-market-products--block
                    if (variation.yandexProduct && variation.yandexProduct.length > 0)
                      each yandexProduct in variation.yandexProduct
                        div.market-product--form
                            h2 Яндекс

                            a.btn.navigate-btn(href=`/stocks/yandex/${yandexProduct._id}`)

                            form(id="yandex-product-properties--form")
                                input(required name="marketType" value="yandex" hidden)
                                input(required name="_id" value=yandexProduct._id hidden)
                                label SKU:#{" "}
                                    input(name="sku" value=yandexProduct.sku disabled)
                                    input(name="sku" value=yandexProduct.sku hidden)
                                label Article:#{" "}
                                    input(name="article" value=yandexProduct.article disabled)
                                    input(name="article" value=yandexProduct.article hidden)
                                fieldset.inline
                                    legend Актуальность
                                    label.inline Актуальный#{" "}
                                        input(required name="isActual" type="radio" value="true" checked=yandexProduct.isActual)
                                    label.inline #{" "}Неактуальный#{" "}
                                        input(required name="isActual" type="radio" value="false" checked=!yandexProduct.isActual)
                                label FBS:#{" "}
                                  - const yandexStock = variation.stocks.fbsYandexStocks.find(yandexStock => yandexStock.sku === yandexProduct.sku)
                                    input(required name="stockFBS" type="number" value=(yandexStock ? yandexStock.stock : '') disabled=(yandexStock === undefined))
                                input.btn.submit-button(id="yandex-product-properties--submit-button" type="button" value="Обновить" )

                    if (variation.wbProduct && variation.wbProduct.length > 0)
                        each wbProduct in variation.wbProduct
                            div.market-product--form
                                h2 Wildberries

                                a.btn.navigate-btn(href=`/stocks/wb/${wbProduct._id}`)

                                form(id="wb-product-properties--form")
                                    input(required name="marketType" value="wb" hidden)
                                    input(required name="_id" value=wbProduct._id hidden)
                                    label SKU:#{" "}
                                        input(name="sku" value=wbProduct.sku disabled)
                                        input(name="sku" value=wbProduct.sku hidden)
                                    label Article:#{" "}
                                        input(name="article" value=wbProduct.article disabled)
                                        input(name="article" value=wbProduct.article hidden)
                                    label Barcode:#{" "}
                                        input(name="barcode" value=wbProduct.barcode disabled)
                                        input(name="barcode" value=wbProduct.barcode hidden)
                                    fieldset.inline
                                        legend Актуальность
                                        label.inline Актуальный#{" "}
                                            input(required name="isActual" type="radio" value="true" checked=wbProduct.isActual)
                                        label.inline #{" "}Неактуальный#{" "}
                                            input(required name="isActual" type="radio" value="false" checked=!wbProduct.isActual)
                                    label FBS:#{" "}
                                      - const wbStock = variation.stocks.fbsWbStocks.find(wbStock => wbStock.sku === wbProduct.sku)
                                        input(required name="stockFBS" type="number" value=(wbStock ? wbStock.stock : '') disabled=(wbStock === undefined))
                                    label FBW:#{" "}
                                        input(required name="stock" type="number" value=wbProduct.stock disabled)
                                    input.btn.submit-button(id="wb-product-properties--submit-button" type="button" value="Обновить" )

                    if (variation.ozonProduct && variation.ozonProduct.length > 0)
                      each ozonProduct in variation.ozonProduct
                        div.market-product--form
                            h2 Ozon

                            a.btn.navigate-btn(href=`/stocks/ozon/${ozonProduct._id}`)

                            form(id="ozon-product-properties--form")
                                input(required name="marketType" value="ozon" hidden)
                                input(required name="_id" value=ozonProduct._id hidden)
                                label SKU:#{" "}
                                    input(name="sku" value=ozonProduct.sku disabled)
                                    input(name="sku" value=ozonProduct.sku hidden)
                                label Article:#{" "}
                                    input(name="article" value=ozonProduct.article disabled)
                                    input(name="article" value=ozonProduct.article hidden)
                                fieldset.inline
                                    legend Актуальность
                                    label.inline Актуальный#{" "}
                                        input(required name="isActual" type="radio" value="true" checked=ozonProduct.isActual)
                                    label.inline #{" "}Неактуальный#{" "}
                                        input(required name="isActual" type="radio" value="false" checked=!ozonProduct.isActual)
                                label FBS:#{" "}
                                  - const ozonStock = variation.stocks.fbsOzonStocks.find(ozonStock => ozonStock.sku === ozonProduct.sku)
                                    input(required name="stockFBS" type="number" value=(ozonStock ? ozonStock.stock : '') disabled=(ozonStock === undefined))
                                label FBO:#{" "}
                                    input(required name="stock" type="number" value=ozonProduct.stock disabled)
                                input.btn.submit-button(id="ozon-product-properties--submit-button" type="button" value="Обновить" )