extends layout

append scripts
    script(src="/scripts/pages/dbProduct.js" type="module" defer)

block content
  section
    h1= title
    form.product--form
        if product
            input(required name="_id" value=product._id hidden)

        label Наименование:#{" "}
            input(name="name" value=`${product ? product.name : ''}`)
        fieldset
            legend Актуальность
            label.inline Актуальный#{" "}
                input(required name="isActual" type="radio" value="true" checked=(product ? product.isActual : false))
            label.inline #{" "}Неактуальный#{" "}
                input(required name="isActual" type="radio" value="false" checked=(product ? !product.isActual : false))

        input.btn.submit-button.submit-button--product.inline(type="button" value=(product ? "Обновить" : "Добавить"))

        if product
            input.btn.delete-button.delete-button--product.inline(type="button")
    if product
        form.add-variation--form
            a.btn.add-variation--btn
            label.select--arrow.add-variation-volume--block.disabled
                select.select--style( name="variation_volume" required)
                    option(value="") Выберете
                      each volume in ['3 мл', '6 мл', '10 мл', 'Набор', 'Стикеры']
                          option(value=volume)= volume

  section.section--wide
    if product
        input(required name="product_id" value=product._id hidden)
        div.product-variation--container
          each variation in variations
            div.product-variation--cell
                h2= variation.volume
                div.btn.btn--round.btn--round--second.variation-stock-status(class=`variation-stock-status--${variation.stockUpdateStatus}`)

                input(required name="variation_id" value=variation._id hidden)

                input.btn.delete-button.delete-button--variation.inline(type="button")

                hr(style="margin-top: 2rem")

                div.variation-market-products--block
                  each marketType in ['yandex', 'wb', 'woo', 'ozon']
                    - marketProducts = variation[`${marketType}Products`]
                      if (marketProducts && marketProducts.length > 0)
                        each marketProduct in marketProducts
                            div.market-product--form
                                h3.align--center= marketType[0].toUpperCase() + marketType.slice(1).toLowerCase()
                                a.btn.btn--round.navigate-btn(href=`/stocks/${marketType}/${marketProduct._id}`)

                              - marketplaceConsoleLinkData = null;
                              - marketplaceLinkData = null;
                                case marketType
                                    when "wb"
                                      - marketplaceConsoleLinkData = {href: `https://seller.wildberries.ru/new-goods/new-product-card?vendorCode=${marketProduct.article}`, title: "Product on seller.wildberries.ru"}
                                        if marketProduct.apiInfo
                                          - marketplaceLinkData = { href: `https://www.wildberries.ru/catalog/${marketProduct.sku}/detail.aspx`, title: "Product on www.wildberries.ru"}
                                    when "ozon"
                                      - marketplaceConsoleLinkData = {href: `https://seller.ozon.ru/app/products/${marketProduct.sku}/edit/preview`, title: "Product on seller.ozon.ru"}
                                        if marketProduct.apiInfo
                                          - marketplaceLinkData = {href: `https://www.ozon.ru/product/${marketProduct.apiInfo.sources[0].sku}`, title: "Product on www.ozon.ru"}
                                    when "yandex"
                                      - marketplaceConsoleLinkData = {href: `https://partner.market.yandex.ru/supplier/21938028/assortment/offer-card?offerId=${marketProduct.sku}`, title: "Product on partner.market.yandex.ru"}
                                        if marketProduct.apiInfo
                                          - marketplaceLinkData = {href: `https://market.yandex.ru/search?businessId=959757&text=${encodeURI(marketProduct.apiInfo.name)}`, title: "Search product on market.yandex.ru"}
                                    when "woo"
                                      - marketplaceConsoleLinkData = {href: `https://queridosglitters.ru/wp-admin/post.php?post=${marketProduct.type === 'variation' ? marketProduct.parentVariable.id : marketProduct.id}&action=edit`, title: "Product on queridosglitters.ru/wp-admin/"}
                                        if marketProduct.apiInfo
                                          - marketplaceLinkData = {href: (marketProduct.apiInfo["permalink"]), title: 'Product on queridosglitters.ru'}
                                if marketplaceConsoleLinkData
                                    a.btn.btn--round.btn--round--left.marketplace-console-link(target="_blank" href=marketplaceConsoleLinkData.href title=marketplaceConsoleLinkData.title)
                                if marketplaceLinkData
                                    a.btn.btn--round.btn--round--left.btn--round--second.marketplace-link(target="_blank" href=marketplaceLinkData.href title=marketplaceLinkData.title)
                                form
                                  - isMarketProductInstanceEditMode = false
                                  include marketProductForm
                                  input.btn.submit-button(type="button" value="Обновить" )