extends layout

append scripts
    script(src="/scripts/variationProduct.js" type="module" defer)

block content
    h1= title
    h2 Общие
    form(id="product-properties--form")
        input(required name="product_id" value=variation.product._id hidden)
        label Наименование продукта:#{" "}
            select(required name="product_name")
                option(value="") Выберете продукт
                each product in allProducts
                    option(value=product._id selected=(product._id.toString() === variation.product._id.toString()))= product.name
        label Актуальный:#{" "}
            input(required name="isActual" type="radio" value="true" checked=variation.product.isActual)
        label Неактуальный:#{" "}
            input(required name="isActual" type="radio" value="false" checked=!variation.product.isActual)
        input.btn.submit-button(id="product-properties--submit-button" type="button" value="Обновить")

    hr(style="margin-top: 2rem")

    h2 Вариация
    form(id="variation-properties--form")
        input(required name="variation_volume" value=variation.volume hidden)
        label Объем:#{" "}
            select(required name="variation_volume")
                option(value="") Выберете объем
                each volume in ['3 мл', '6 мл', '10 мл', 'Набор', 'Стикеры']
                    option(value=volume selected=(volume=== variation.volume))= volume


        input.btn.submit-button(id="variation-properties--submit-button" type="button" value="Обновить")


    hr(style="margin-top: 2rem")
    h2 Яндекс
    form(id="yandex-product-properties--form")
        input(required name="marketType" value="yandex" hidden)
        if (variation.yandexProduct)
            input(required name="_id" value=variation.yandexProduct._id hidden)
            label SKU:#{" "}
                select(required name="sku")
                    option(value="") Выберете продукт
                    each yandexProduct in allYandexProducts
                        option(value=yandexProduct.sku selected=(yandexProduct._id.toString() === variation.yandexProduct._id.toString()))= `${yandexProduct.sku} (${yandexProduct.article})`
            label Article:#{" "}
                input(name="article" value=variation.yandexProduct.article)
            label Актуальный:#{" "}
                input(required name="isActual" type="radio" value="true" checked=variation.yandexProduct.isActual)
            label Неактуальный:#{" "}
                input(required name="isActual" type="radio" value="false" checked=!variation.yandexProduct.isActual)
            label Остаток FBS:#{" "}
                input(required name="stockFBS" type="number" value=(fbsYandexStocks) disabled=(fbsYandexStocks === undefined))

        else
            label SKU:#{" "}
                select(required name="sku")
                    option(value="") Выберете продукт
                      each yandexProduct in allYandexProducts
                          option(value=yandexProduct._id)= `${yandexProduct.sku} (${yandexProduct.article})`
        input.btn.submit-button(id="yandex-product-properties--submit-button" type="button" value="Обновить" )

    hr(style="margin-top: 2rem")
    h2 Wildberries
    form(id="wb-product-properties--form")
        input(required name="marketType" value="wb" hidden)
        if (variation.wbProduct)
            input(required name="_id" value=variation.wbProduct._id hidden)
            label SKU:#{" "}
                select(required name="sku")
                    option(value="") Выберете продукт
                      each wbProduct in allWbProducts
                          option(value=wbProduct.sku selected=(wbProduct._id.toString() === variation.wbProduct._id.toString()))=`${wbProduct.sku} (${wbProduct.article})`

            label Article:#{" "}
                input(name="article" value=variation.wbProduct.article)
            label Barcode:#{" "}
                input(name="barcode" value=variation.wbProduct.barcode)
            label Актуальный:#{" "}
                input(required name="isActual" type="radio" value="true" checked=variation.wbProduct.isActual)
            label Неактуальный:#{" "}
                input(required name="isActual" type="radio" value="false" checked=!variation.wbProduct.isActual)
            label Остаток FBS:#{" "}
                input(required name="stockFBS" type="number" value=(fbsWbStocks) disabled=(fbsWbStocks === undefined))
            label Остаток FBW:#{" "}
                input(required name="stock" type="number" value=variation.wbProduct.stock disabled)

        else
            label SKU:#{" "}
                select(required name="sku")
                    option(value="") Выберете продукт
                      each wbProduct in allWbProducts
                          option(value=wbProduct._id)=`${wbProduct.sku} (${wbProduct.article})`
        input.btn.submit-button(id="wb-product-properties--submit-button" type="button" value="Обновить" )

    hr(style="margin-top: 2rem")
    h2 Ozon
    form(id="ozon-product-properties--form")
        input(required name="marketType" value="ozon" hidden)
        if (variation.ozonProduct)
            input(required name="_id" value=variation.ozonProduct._id hidden)
            label SKU:#{" "}
                select(required name="sku")
                    option(value="") Выберете продукт
                      each ozonProduct in allOzonProducts
                          option(value=ozonProduct.sku selected=(ozonProduct._id.toString() === variation.ozonProduct._id.toString()))=`${ozonProduct.sku} (${ozonProduct.article})`

            label Article:#{" "}
                input(name="article" value=variation.ozonProduct.article)
            label Актуальный:#{" "}
                input(required name="isActual" type="radio" value="true" checked=variation.ozonProduct.isActual)
            label Неактуальный:#{" "}
                input(required name="isActual" type="radio" value="false" checked=!variation.ozonProduct.isActual)
            label Остаток FBS:#{" "}
                input(required name="stockFBS" type="number" value=(fbsOzonStocks) disabled=(fbsOzonStocks === undefined))
            label Остаток FBO:#{" "}
                input(required name="stock" type="number" value=variation.ozonProduct.stock disabled)

        else
            label SKU:#{" "}
                select(required name="sku")
                    option(value="") Выберете продукт
                      each ozonProduct in allOzonProducts
                          option(value=ozonProduct._id)=`${ozonProduct.sku} (${ozonProduct.article})`
        input.btn.submit-button(id="ozon-product-properties--submit-button" type="button" value="Обновить" )